dist/jobs.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Premium Relax</title>
    <!--style.html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}a{background-color:transparent}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}body{color:#fff;font-size:18px;font-family:"Yanone Kaffeesatz",sans-serif;background-image:url("./images/header-bg.jpg");background-repeat:no-repeat;-webkit-background-size:100% auto;background-size:100% auto;background-position:0 0;background-color:#2f3135;-webkit-box-sizing:border-box;box-sizing:border-box}body *{-webkit-box-sizing:inherit;box-sizing:inherit}li{line-height:1.4}a{color:#eda47c;text-decoration:none;position:relative}a:after{content:'';position:absolute;bottom:-2px;left:0;width:0;height:1px;background-color:#eda47c}h1{font-size:40px}h2{font-size:30px}.container{width:100%;max-width:1280px;margin:0 auto}.header{margin-bottom:65px}.header__top-line{margin-top:20px;margin-left:170px}.header__content{position:relative;padding:30px 50px;-webkit-border-radius:3px;border-radius:3px;background-image:url("./images/header__img-placeholder.jpg");background-repeat:no-repeat;-webkit-background-size:cover;background-size:cover;background-color:#222;overflow:hidden}.header__text{position:relative;z-index:30}.header__logo{margin-bottom:55px}.header__title{font-size:70px;line-height:80px;color:#fff;font-family:"Oranienbaum",serif;font-weight:400;padding-left:20px;position:relative}.header__title:before{content:'';position:absolute;top:15px;left:0;vertical-align:top;display:inline-block;height:150px;width:7px;background-color:#eda47c}.header__subtitle{color:#fff;font-size:30px;font-weight:300;letter-spacing:.75px;margin:30px 0 0}.header__link{margin-top:110px;padding:15px 40px;color:#eda47c;text-transform:uppercase;border:1px solid #eda47c;display:inline-block;font-size:20px;font-weight:300;text-decoration:none;position:relative;z-index:2}.header__video{position:absolute;top:0;left:0;min-width:100%;min-height:100%;z-index:10}.logo{display:block;width:220px;height:90px;background-image:url("./images/logo.png");background-repeat:no-repeat;-webkit-background-size:contain;background-size:contain}.top-line{font-family:"Oranienbaum",serif}.top-line__header{color:#eda47c;background-color:#2f3135;font-size:50px;font-weight:400;line-height:30px;display:inline-block;padding:20px 10px;vertical-align:middle}.top-line__header:after{background-color:transparent}.top-line__contact{margin-left:20px}.contact{display:inline-block;vertical-align:middle;font-style:normal}.contact__item:first-child .contact__link{margin-bottom:15px}.contact__link{font-size:30px;color:#2f3135;text-decoration:none;line-height:26px;display:inline-block}.contact__link-small{font-size:20px}.contact__city{color:#eda47c;padding:0 2px;background-color:#2f3135;font-family:"Yanone Kaffeesatz",sans-serif;font-size:14px;text-align:center;font-weight:400;text-transform:uppercase;letter-spacing:2.8px;display:inline-block;line-height:17px;height:15px;margin-left:13px;vertical-align:top}.nav-row{text-align:right}.nav{position:relative;position:relative;z-index:20;display:inline-block;width:200px;padding:11px 5px;color:#2f3135;text-align:right;font-family:"Oranienbaum",serif}.nav__toggle{display:inline-block;width:50px}.nav__icon{width:50px}.nav__line{display:inline-block;width:100%;height:5px;background-color:#2f3135}.nav__title{display:block;text-align:center;font-size:18px;text-transform:uppercase}.nav__list{visibility:hidden;opacity:0;position:absolute;top:100%;right:0;width:100%;margin:0;padding:0 15px 11px;padding-left:0;background-color:#2f3135;text-align:right;font-size:22px;font-weight:400;line-height:30px;list-style:none}.nav__item{visibility:hidden;opacity:0;-webkit-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px)}.nav__link{color:inherit;line-height:30px}.nav__link:after{background-color:#eda47c}-->
</head>

<body>
    <!-- START HEADER-->
    <header class="header container">
        <!-- START TOP-LINE-->
        <div class="top-line header__top-line">
            <a class="top-line__header" href="/" title="Перейти на главную страницу">Premium Relax Club</a>
            <address class="top-line__contact contact">
                <div class="contact__item">
                    <a class="contact__link" href="tel:88612981222">
                        <span class="contact__link-small">8 (861)</span> 298-12-22</a>
                    <span class="contact__city">Ялта</span>
                </div>
                <div class="contact__item">
                    <a class="contact__link" href="tel:88612451422">
                        <span class="contact__link-small">8 (861)</span> 245-14-22</a>
                    <span class="contact__city"> Симферополь</span>
                </div>
            </address>
        </div>
        <!-- END TOP-LINE-->
        <!-- START NAVIGATION-->
        <div class="nav-row">
            <nav class="nav">
                <div class="nav__toggle">
                    <span class="nav__title">Меню</span>
                    <div class="nav__icon">
                        <span class="nav__line"></span>
                        <span class="nav__line"></span>
                        <span class="nav__line"></span>
                    </div>
                </div>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="/index.html" title="Главная">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/jobs.html" title="Вакансии">Вакансии</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/girls.html" title="Девушки">Девушки</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/reviews.html" title="Отзывы">Отзывы</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/services.html" title="Услуги">Услуги</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/contact.html" title="Контакты">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- END NAVIGATION-->
        <div class="header__content">
            <div class="header__text">
                <a class="header__logo logo" href="/" title="Перейти на главную страницу"></a>
                <h1 class="header__title title-left-line">Эротический <br> массаж</h1>
                <h2 class="header__subtitle">В Ялте и Севастополе</h2>
                <a class="header__link" href="/booking">Забронировать</a>
            </div>
            <!-- START HEADER-VIDEO-->
            <div class="header__video header-video">
                <video loop muted autoplay>
                    <source src="images/0000.mp4" type="video/mp4">
                    <source src="images/0000.webm" type="video/webm">
                    <source src="images/0000.ogg" type="video/ogg">
                </video>
            </div>
            <!-- END HEADER-VIDEO-->
        </div>
    </header>
    <!-- END HEADER-->
    <!--START PAGE-->
    <div class="page p-jobs container">
        <header class="page__headline">
            <h1 class="page__title">Наши вакансии</h1>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="/">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="/jobs.html">Наши вакансии</a>
                    </li>
                </ul>
            </div>
        </header>
        <h2 class="page__subtitle title-left-line">Высокооплачиваемая и интересная работа</h2>
        <p>С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции
            в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.
        </p>
        <a href="#">Ссылка</a>
        <h2 class="page__subtitle title-left-line">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке форм развития.
        </h2>
        <ul>
            <li> С другой стороны постоянное информационно-пропагандистское обеспечение нашей</li>
            <li> задания по разработке форм развития. Повс</li>
            <li> овседневная практика показывает, что н</li>
            <li> степени обуславливает создание позиций, занимаемых участни</li>
        </ul>
        <p>С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять.

        </p>
    </div>
    <!--END PAGE-->
    <!--START FOOTER-->
    <footer class="footer">
        <div class="footer__inner container">
            <div class="footer__present">
                <a class="footer__logo-block logo-block" href="/">
                    <img class="footer__logo logo-block__img" src="images/logo.png" alt="Логотип">
                </a>
            </div>
            <div class="footer__info">
                <ul class="footer__menu column-menu">
                    <li class="column-menu__item column-menu__item--title">Услуги</li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/service-detail.html">Массаж для двоих</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/service-detail.html">Классический массаж</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/service-detail.html">Тайский массаж</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/service-detail.html">Массаж “Блаженство”</a>
                    </li>
                </ul>
                <ul class="footer__menu column-menu">
                    <li class="column-menu__item column-menu__item--title">Девушки</li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/detail.html">Виктория</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/detail.html">Элизабет</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/detail.html">Марианна</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/detail.html">София</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/detail.html">Анжела</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/detail.html">Камила</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/detail.html">Виолетта</a>
                    </li>
                    <li class="column-menu__item">
                        <a class="column-menu__link" href="/detail.html">Альбина</a>
                    </li>
                </ul>
                <ul class="footer__menu column-menu">
                    <li class="column-menu__item column-menu__item--title">Контакты</li>
                    <li class="column-menu__item footer-contact">
                        <span class="footer-contact__city">Ялта</span>
                        <p class="footer-contact__descr">ул. Восточная 46 | С 16:00 до 05:00</p>
                        <a class="footer-contact__phone" href="tel:88612451225">8 (861) 245-12-25</a>
                    </li>
                    <li class="column-menu__item footer-contact">
                        <span class="footer-contact__city">Симферополь</span>
                        <p class="footer-contact__descr">ул. Цветочная 356 | С 16:00 до 05:00</p>
                        <a class="footer-contact__phone" href="tel:88612451225"> 8 (861) 245-12-25</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!--END FOOTER-->
    <script src="./js/main.min.js" defer></script>
</body>

</html>

src/jobs.pug
doctype html
html(lang="ru")
    include base/_head.pug
    body


        include blocks/header/header.pug

        //START PAGE
        .page.p-jobs.container
            header.page__headline
                h1.page__title Наши вакансии
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/jobs.html") Наши вакансии

            h2.page__subtitle.title-left-line Высокооплачиваемая и интересная работа
            p.
                С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.

            a(href="#") Ссылка

            h2.page__subtitle.title-left-line.
                С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке форм развития.

            ul
                li  С другой стороны постоянное информационно-пропагандистское обеспечение нашей
                li  задания по разработке форм развития. Повс
                li  овседневная практика показывает, что н
                li  степени обуславливает создание позиций, занимаемых участни

            p.
                С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять.


        //END PAGE



        include blocks/footer/footer.pug


        include base/_scripts.pug
